@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Dots&display=swap');
html {
    background-color: #222629;
    min-height: 1000px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #fff;
    padding: 10px;
    font-family: 'Zen Dots', cursive;
}

h5 {
    color: #fff;
    padding: 10px;
    font-family: roboto;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    background: #6B6E70;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #474B4F;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #565d61;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: red;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #041020;
}

form.item {
    text-align: center;
    margin-left: 20px;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #100620;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
    color: #86c232;
    opacity: 1;
}

footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}